<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid;
            }
        </style>
    </head>
    <body>
        <h1>
            Input Your name and quantity to buy
        </h1>
        
        <table>
            <tr>
                <!-- <th>Good ID</th> -->
                <th>Name</th>
            </tr>
            {% for good in goods %}
            <tr>
                <!-- <td>{{good.id}}</td> -->
                <td>{{good.goods_name}}</td>
            </tr>
            {% endfor %}
        </table>
        <form action = "" method = "POST">
            {% csrf_token %}
            <label for="your_name">Your name: </label>
            <input id="your_name" type="text" name="your_name">
            <br>
            <label for="good_id">goods name: </label>
            <input id="goods_name" type="text" name="goods_name">
            <br>
            <label for="quantity">quantity: </label>
            <input id="quantity" type="number" name="quantity">
            <br>
            <input type="submit" value="BUY">
        </form>
        
    </body>
</html>
