<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid;
            }
        </style>
    </head>
    <body>
        <h1>
            Shop History
        </h1>
        <table>
            <tr>
                <th>Good</th>
                <th>Customer</th>
                <th>Quantity</th>
                <th>Create Time</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{order.goods_name}}</td>
                <td>{{order.history.name}}</td>
                <td>{{order.history.quantity}}</td>
                <td>{{order.history.time}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
